body {
    background-color: wheat;
}

html {
    scroll-behavior: smooth;
  }

.bdg {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-55%, -10%);
}

.header {
    position: fixed;
    width: 100%;
    height: 20%;
}

.bdg_img {
    width: 110%;
    height: 110%;
    filter: brightness(60%);
    box-shadow: 20px 20px 20px whitesmoke;
}

.title {
    position: absolute;
    left: 45%;
    top: 15%;
    transform: translate(-50%, -10%);
    font-size: 500%;
    font-weight: 900;
    text-shadow: 2px 2px 5px whitesmoke;
    z-index: 200;
}

.zycz {
    position: absolute;
    left: 40%;
    top: 15%;
    transform: translate(-55%, -10%);
    width: 35%;
    height: 75%;
    box-shadow: 5px 5px 5px 5px whitesmoke;
    background-color: whitesmoke;
}

.zycz_txt {
    color: black;
    z-index: 200;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 40%;
}

.button-down{
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: black;

}

.napis-down {
    position: absolute;
    right: 2%;
    bottom: 18%;
    text-align: center;
    font-size: 180%;
    font-weight: 600;
}

.button-up{
    position: fixed;
    bottom: 20%;
    left: 2%;
    color: black;
    z-index: 200;
}

.napis-up {
    position: fixed;
    bottom: 10%;
    left: 2%;
    color: black;
    z-index: 200;
    font-size: 180%;
    font-weight: 600;
    transform:rotate(270deg)
}

.content {
    width: 100%;
    height: 300%;
    background-color: wheat;
    position: absolute;
    top: 100%;
}

.zycz_1, .zycz_2, .zycz_3, .zycz_4, .zycz_5 {
    margin-left: 10%;
    margin-right: 10%;

}

.con_1 {
    width: 30%;
    color: black;
    height: 20%;
    left: 55%;
    top: 8%;
    font-size: 200%;
    font-weight: 900;
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(zdj_1.jpg);
    float: right;
    border-radius:20px;
}
.con_2 {
    color: black;
    width: 32%;
    height: 20%;
    left: 17%;
    top: 5%;
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(zdj_2.avif);
    font-size: 250%;
    font-weight: 900;
    border-radius:20px;
}
.con_3 {
    width: 34%;
    height: 22%;
    color: black;
    left: 15%;
    top: 30%;
    font-size: 300%;
    font-weight: 900;
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(zdj_3.jpg);
    float: right;
    border-radius:20px;
}
.con_4 {
    width: 30%;
    height: 20%;
    left: 55%;
    top: 32%;
    color: black;
    font-size: 300%;
    font-weight: 900;
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(zdj_4.jpg);
    border-radius:20px;
}

.con_5 {
    width: 60%;
    height: 20%;
    left: 20%;
    top: 57%;
    color: black;
    font-size: 280%;
    font-weight: 900;
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(zdj_5.jpg);
    border-radius:20px;
}
